<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
/>
<div class="container">
  <div class="header">
    <p style="font-weight: 800">Where in the world?</p>
    <div class="mode">
      <i class="fa-regular fa-moon"></i><span>Dark Mode</span>
    </div>
  </div>

  <div class="countries-container">
    <input type="text" name="search" placeholder="Search for a country..." />
    <select>
      <option>Filter by Region</option>
      <option>Africa</option>
      <option>America</option>
      <option>Asia</option>
      <option>Europe</option>
      <option>Oceania</option>
    </select>

    <app-country></app-country>
  </div>
</div>
