/* You can add global styles to this file, and also import other style files */
:root {
  --dark-elements: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --dark-text: hsl(0, 0%, 100%);

  --light-elements: hsl(0, 0%, 100%);
  --light-background: hsl(0, 0%, 98%);
  --light-input: hsl(0, 0%, 52%);
  --light-text: hsl(200, 15%, 8%);

  --main-font: "Nunito Sans", sans-serif;
}